In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Athlete_dataset/athlete_events.csv')
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30181 entries, 40 to 271103
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30181 non-null  int64
 1   Name    30181 non-null  object
 2   Sex     30181 non-null  object
 3   Age     30181 non-null  float64
 4   Height  30181 non-null  float64
 5   Weight  30181 non-null  float64
 6   Team    30181 non-null  object
 7   NOC     30181 non-null  object
 8   Games   30181 non-null  object
 9   Year    30181 non-null  int64
 10  Season  30181 non-null  object
 11  City    30181 non-null  object
 12  Sport   30181 non-null  object
 13  Event   30181 non-null  object
 14  Medal   30181 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 3.7+ MB

In [5]:
def label_encoder_v5(path):
    df = pd.read_csv(path)
    df = df.dropna()
    col_names = []
    
    # Parses for categorical columns
    for col in df.columns:
        if df[col].dtypes == 'object':
            col_names.append(col)
            
    print("These are the columns with categorical data: ", col_names)

    while True:
        # Asks user for desired column name to encode
        user_input = input("\nSelect the column(s) you want to encode (press q when done): ")
        if user_input == 'q':
            break

        # Check if user input is a valid column name
        assert user_input in col_names, f"{user_input} is not a categorical column or is an invalid column."

        # Get unique values 
        unique_values = df[user_input].unique()
        
        print(f"\nThese are the variables in {user_input} column: {', '.join(unique_values)}")
        col_map = {}
        
        # Prompt user for order
        for val in unique_values:
            order = int(input(f"Assign the order to '{val}': "))
            col_map[val] = order

        # Create new column with label encoded values
        new_col_name = f"new_{user_input}_label"
        df[new_col_name] = df[user_input].map(col_map)

        # Drop original column
        df = df.drop(user_input, axis=1)

    return df

In [6]:
label_encoder_v5('Athlete_dataset/athlete_events.csv')

These are the columns with categorical data:  ['Name', 'Sex', 'Team', 'NOC', 'Games', 'Season', 'City', 'Sport', 'Event', 'Medal']

Select the column(s) you want to encode (press q when done): Medal

These are the variables in Medal column: Bronze, Gold, Silver
Assign the order to 'Bronze': 0
Assign the order to 'Gold': 4
Assign the order to 'Silver': 3

Select the column(s) you want to encode (press q when done): Sex

These are the variables in Sex column: M, F
Assign the order to 'M': 5
Assign the order to 'F': 2

Select the column(s) you want to encode (press q when done): q

,ID,Name,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,new_Medal_label,new_Sex_label
40,16,Juhamatti Tapio Aaltonen,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,0,5
41,17,Paavo Johannes Aaltonen,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,0,5
42,17,Paavo Johannes Aaltonen,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,4,5
44,17,Paavo Johannes Aaltonen,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,4,5
48,17,Paavo Johannes Aaltonen,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271078,135553,Galina Ivanovna Zybina (-Fyodorova),25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,3,2
271080,135553,Galina Ivanovna Zybina (-Fyodorova),33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,0,2
271082,135554,Bogusaw Zych,28.0,182.0,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",0,5
271102,135563,Olesya Nikolayevna Zykina,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,0,2
271103,135563,Olesya Nikolayevna Zykina,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,3,2

# Checking for assertion

In [7]:
label_encoder_v5('Athlete_dataset/athlete_events.csv')

These are the columns with categorical data:  ['Name', 'Sex', 'Team', 'NOC', 'Games', 'Season', 'City', 'Sport', 'Event', 'Medal']

Select the column(s) you want to encode (press q when done): Sex

These are the variables in Sex column: M, F
Assign the order to 'M': 0
Assign the order to 'F': 1

Select the column(s) you want to encode (press q when done): adfs

AssertionError: adfs is not a categorical column or is an invalid column.