In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_parquet('./output_data/employee_earnings/earnings_date=2022-02-14/employee_earnings.parquet')
df

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,2716
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,8357
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,8123
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,8297
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,2057
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,7944
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,8708
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,7741
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,8080
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,5868

In [5]:
df["earnings"].mean()

6197.75

In [6]:
lower_bound = df["earnings"].min()
lower_bound

2040

In [7]:
upper_bound = df["earnings"].max()
upper_bound

9954

In [8]:
np.random.seed(14)
day_6_earnings = np.random.randint(lower_bound, upper_bound, 100)
day_6_earnings

array([4707, 7504, 3332, 4494, 8511, 5873, 9566, 6882, 8852, 7810, 3272,
       8757, 9696, 7826, 7185, 2511, 9198, 4579, 8728, 6127, 2300, 9346,
       9858, 7672, 6606, 9292, 8317, 9757, 3696, 4189, 8225, 3808, 2271,
       2619, 3783, 7484, 7109, 5285, 5491, 7408, 7150, 8056, 5271, 2817,
       7347, 2067, 7149, 2258, 3875, 4074, 6393, 6004, 6463, 8288, 8887,
       3970, 4133, 4118, 7051, 3641, 5169, 2627, 8389, 8521, 8541, 4869,
       5040, 7495, 3745, 6775, 3341, 4613, 2363, 4149, 6466, 3505, 8646,
       2644, 9446, 5633, 6470, 8572, 4266, 3720, 2525, 8748, 2297, 4227,
       4060, 5993, 6523, 7001, 6148, 9108, 4576, 5513, 7499, 2415, 8744,
       3995])

In [9]:
np.random.seed(11)
day_7_earnings = np.random.randint(lower_bound, upper_bound, 100)
day_7_earnings

array([3985, 5815, 7240, 9299, 9545, 6063, 3333, 2372, 7833, 2623, 6986,
       5904, 8805, 7764, 2728, 9624, 5925, 7396, 4725, 7036, 8730, 2180,
       3906, 9245, 7661, 3295, 9676, 5193, 3155, 2448, 4592, 6793, 9787,
       3390, 6819, 3434, 6378, 5816, 9333, 5191, 9816, 5135, 6035, 9022,
       5201, 7523, 7298, 2481, 7187, 6948, 7405, 5254, 5375, 8623, 2375,
       7096, 9888, 2536, 3347, 8432, 3799, 2173, 7853, 9898, 6363, 3763,
       8185, 7291, 8911, 7625, 9788, 5440, 8298, 7832, 8006, 2315, 3985,
       7021, 9298, 2974, 7603, 7433, 7203, 8202, 6645, 8232, 5250, 6439,
       4198, 6296, 3492, 9248, 2304, 8636, 2969, 2425, 3031, 5985, 9588,
       9283])

In [10]:
day_6_employee_earnings = df.copy()
day_6_employee_earnings["earnings"] = day_6_earnings
day_6_employee_earnings

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,4707
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,7504
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,3332
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,4494
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,8511
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,5513
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,7499
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,2415
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,8744
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,3995

In [ ]:
day_7_employee_earnings = df.copy()
day_7_employee_earnings["earnings"] = day_7_earnings
day_7_employee_earnings

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,3985
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,5815
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,7240
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,9299
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,9545
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,2425
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,3031
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,5985
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,9588
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,9283

## Now writing our new dataframes in a parquet file format

In [ ]:
# Specify the Parquet file path
parquet_file_day_6 = './output_data/employee_earnings/earnings_date=2022-02-15/employee_earnings.parquet'

# Write the DataFrame to a Parquet file
day_6_employee_earnings.to_parquet(parquet_file_day_6)

In [ ]:
# Specify the Parquet file path
parquet_file_day_7 = './output_data/employee_earnings/earnings_date=2022-02-16/employee_earnings.parquet'

# Write the DataFrame to a Parquet file
day_7_employee_earnings.to_parquet(parquet_file_day_7)