In [25]:
import pandas as pd # imported pandas library
import numpy as np  # imported numpy library
import seaborn as sns
import matplotlib as plt

In [14]:
data = pd.read_csv('/home/hamzaasim/Documents/ASSIGNMENTS/Unit 2.3/archive/Iris.csv')  
# reads the csv file from the location provided and stored in 'data'

In [15]:
df= data.copy()    #makes the copy of the csv file and store in 'df'

In [16]:
df # displays the dataset in csv file

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [17]:
df.columns  # displays all the labels of the datasets

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [22]:
df.groupby(['Species']).mean()['SepalLengthCm'].reset_index() 
# groups all the species type and applies mean on every column after grouping
# then displayed only 'Sepal length' as mention in the task and reset index to show it in a tabular form

           Species  SepalLengthCm
0      Iris-setosa          5.006
1  Iris-versicolor          5.936
2   Iris-virginica          6.588

In [37]:
plt.figure(figsize=(10,20))
sns.countplot(data=df, x = 'PetalWidthCm' ,hue='Species' )

TypeError: 'module' object is not callable